# Ignore common build artifacts
bin/
obj/

# Ignore source control files
.git/
.gitignore

# Ignore IDE-specific files and folders
.vs/
.vscode/
*.suo
*.user
*.bak
*.log

# Ignore package directories
packages/
node_modules/ # If you have client-side assets or a UI project within the same context

# Ignore Docker-related files (if they are in the build context)
Dockerfile
docker-compose.yml
.dockerignore

# Ignore test-related files if not needed in the final image
Tests/
test/
*.Test.csproj

# Ignore environment configuration files
*.env