version: '3.8'

services:
  video-uploader-minio:
    image: quay.io/minio/minio
    container_name: video-uploader-minio
    restart: unless-stopped
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin-password
    ports:
      - "9000:9000" 
      - "9001:9001"
    volumes:
      - video-uploader-minio-data:/data
    networks:
      - video-uploader-net

  video-uploader-api-local:
    profiles: ["local"]
    build:
      context: ./API
      dockerfile: dockerfile
    container_name: api-local
    restart: unless-stopped
    ports:
      - "5000:8080" 
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - MinIO__Endpoint=video-uploader-minio:9000  
      - MinIO__AccessKey=admin
      - MinIO__SecretKey=admin-password
      - MinIO__BucketName=uploads
      - MinIO__WithSSL=false
    depends_on:
      - video-uploader-minio
    networks:
      - video-uploader-net

  video-uploader-api-docker:
    profiles: ["docker"]
    image: luizfelipekohler/video-uploader-api
    container_name: api-docker
    restart: unless-stopped
    ports:
      - "5001:8080" 
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - MinIO__Endpoint=video-uploader-minio:9000 
      - MinIO__AccessKey=admin
      - MinIO__SecretKey=admin-password
      - MinIO__BucketName=uploads
      - MinIO__WithSSL=false
    depends_on:
      - video-uploader-minio
    networks:
      - video-uploader-net

  video-uploader-front:
    build:
      context: ./web
      dockerfile: dockerfile
    container_name: front
    restart: unless-stopped
    ports:
      - "3000:3000" 
    networks:
      - video-uploader-net

volumes:
  video-uploader-minio-data:

networks:
  video-uploader-net:
    driver: bridge