# Binaries and object files
**/bin/
**/obj/

# Build artifacts
**/*.pdb
**/*.suo
**/*.user
**/*.vspscc
**/*.vssscc

# IDE-specific files
.vs/
.vscode/

# Git-related files
.git/
.gitignore

# Docker-related files (often not needed in the image)
Dockerfile*
.dockerignore

# Package management related files (if applicable, e.g., for frontend projects)
node_modules/

# Logs and temporary files
**/logs/
**/temp/