name: Pull Request Pipeline

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    services:
      docker:
        image: docker:dind
        options: --privileged

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET 9
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Setup Docker
      uses: docker/setup-buildx-action@v3

    - name: Restore dependencies
      run: dotnet restore
      working-directory: ./API

    - name: Build the solution
      run: dotnet build --configuration Release --no-restore
      working-directory: ./API

    - name: Run unit tests
      run: dotnet test --filter "Category=Unit" --verbosity normal
      working-directory: ./API

    - name: Run integration tests
      run: dotnet test --filter "Category=Integration" --verbosity normal
      working-directory: ./API
      env:
        DOCKER_HOST: tcp://localhost:2375
