name: Merge API Pipeline

on:
  push:
    branches: [ "main" ]
    paths: ['video-uploader-api/**']

jobs:
  build-and-test:
    uses: ./.github/workflows/video-uploader-api-build-and-test-job.yml

  built-and-publish:
    runs-on: ubuntu-latest
    needs: build-and-test
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./video-uploader-api
          push: true
          tags: luizfelipekohler/video-uploader-api